* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 24px;
  color: white;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0) rotate(0deg);
  transition: all 0.5s;

  transform-origin: left;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0) rotate(0deg);
  transition: all 0.5s;

  transform-origin: right;
}

a:hover::before,
a:hover::after {
  transform: scaleX(1) rotate(720deg);
}
