* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: black;
}

.container {
  height: 100vh;
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 22px;
  color: white;
  position: relative;
  display: block;
  text-transform: uppercase;
  transition: 1s;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  /* background-color: white; */
  /* transform: scaleY(2); */
  opacity: 0;
  transition: all 1s;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
}
a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  /* background-color: white; */
  /* transform: scaleY(2); */
  opacity: 0;
  transition: all 1s;
  border-right: 2px solid crimson;
  border-top: 2px solid crimson;
}

a:hover::before,
a:hover::after {
  opacity: 1;
}
