* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00008bcb;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
}

.loading {
  height: 40px;
  width: 40px;
  background-color: black;
  margin: 0 10px;
  border-radius: 50%;
  animation: load 0.8s ease infinite;
}
.two {
  animation-delay: 0.2s;
}

.three {
  animation-delay: 0.4s;
}

.four {
  animation-delay: 0.6s;
}

@keyframes load {
  0% {
    height: 40px;
    width: 40px;
  }
  50% {
    height: 30px;
    width: 30px;
  }
}
