* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161616;
}

.container a {
  text-decoration: none;
  font-size: 24px;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  padding: 20px 45px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

a:before {
  content: "DOWNLODE";
  font-weight: bold;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: antiquewhite;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover::before {
  transform: translateY(0%);
}
