* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  padding: 0 5%;
}

.content {
  text-align: center;
}
.content h1 {
  font-size: 160px;
  color: #fff;
  transition: 0.5s;
  font-weight: 600;
}
.content h1:hover {
  -webkit-text-stroke: 2px rgb(161, 13, 13);
  color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  padding: 14px 50px;
  border: 2px solid white;
  margin-top: 20px;
  transition: 0.5s;
}

.content a:hover {
  color: black;
  background-color: white;
}
.back-video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* @media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
} */
